<ion-content>
    <label class="item item-input item-select">
        <div class="input-label">Filtre</div>
        <select ng-model="area">
            <option value="">Arrondissement...</option>
            <option ng-repeat="zip in zipcodes" value="750{{zip}}">750{{zip}}</option>
        </select>
    </label>

    <label class="item item-input">
        <input type="text" class="search" ng-model="search" placeholder="Recherche">
    </label>
    
    <ion-list>
        <ion-item ng-click="open($event, {{pool.id}})" class="listItem" ng-repeat="pool in pools | filter:area | filter:search | orderBy: 'zipCode'">
            <div class="zipcode">{{pool.zipCode | reducedZipcode}}</div>
            <div class="poolWrapper">
                <h2>{{pool.name}}</h2>
                <p>{{pool.address}}</p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>